<nav class="navbar">
  <div class="navbar-left">
    <span class="app-title">ATS RH</span>

    <!-- Admin RH uniquement -->
    <ng-container *ngIf="user?.role === 'Admin_RH'">
      <a routerLink="/admin/employes" routerLinkActive="active">Employés</a>
      <a routerLink="/admin/rapports" routerLinkActive="active">Rapports</a>
    </ng-container>

    <!-- Admin RH et Manager -->
    <ng-container *ngIf="user?.role === 'Admin_RH' || user?.role === 'manager'">
      <a routerLink="/admin/absences" routerLinkActive="active">Absences</a>
      <a routerLink="/admin/demandes" routerLinkActive="active">Demandes</a>
    </ng-container>

    <!-- Employé uniquement -->
    <ng-container *ngIf="user?.role === 'employé'">
      <a routerLink="/employe/mes-demandes" routerLinkActive="active">Mes Absences</a>
    </ng-container>
  </div>

  <div class="navbar-right" *ngIf="user">
    <span class="user-info">
      👤 {{ user.username }} ({{ user.role }})
    </span>
    <button class="logout-btn" (click)="logout()">Déconnexion</button>
  </div>
</nav>
